---
title: tony camaiani
---

<div class="welcome">
  <h1>tony camaiani</h1>
  <h2>will be here</h2>
  <h2>soon</h2>
  <p class="doc">
    meanwhile this is my old site <%= link_to "tony camaiani", "http://tony.camaiani.it/" %>
  </p>
  <p class="doc">
    <%= link_to "twitter", "http://tony.camaiani.it/" %>
    <%= link_to "linkedin", "http://tony.camaiani.it/" %>
    <%= link_to "github", "http://tony.camaiani.it/" %>
    <%= link_to "dribble", "http://tony.camaiani.it/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->