---
title: tony camaiani
---

<div class="welcome">
  <h1>tony camaiani</h1>
  <h2>will be here</h2>
  <h2>soon</h2>
  <p class="doc">
    meanwhile this is my old site <%= link_to "tony camaiani", "http://tony.camaiani.it/" %>
  </p>
  <p class="doc">
    <%= link_to "twitter", "https://twitter.com/tonycamaiani/", :class => "icon-twitter" %>
    <%= link_to "linkedin", "http://www.linkedin.com/in/camaiani", :class => "icon-linkedin" %>
    <%= link_to "github", "https://github.com/tonycamaiani", :class => "icon-github-circled" %>
    <%= link_to "dribble", "http://dribbble.com/tonycamaiani", :class => "icon-dribbble" %>
  </p><!-- .doc -->
</div><!-- .welcome -->