---
title: tony camaiani
---

<div class="welcome">
  <h1>tony camaiani</h1>
  <h2>will be here... <em>soon</em>!</h2>
  <p>
    meanwhile you can visit 
    <%= link_to "tony.camaiani.it", "http://tony.camaiani.it/" %>
    or write to
    <%= link_to "camaiani@gmail.com", "mailto:camaiani@gmail.com" %>
  </p>
  <p>
    or
  </p>
  <p class="dotted icons">
    <%= link_to "", "https://twitter.com/tonycamaiani/", :class => "icon-twitter", :target => "_blank" %>
    <%= link_to "", "http://www.linkedin.com/in/camaiani", :class => "icon-linkedin", :target => "_blank" %>
    <%= link_to "", "https://github.com/tonycamaiani", :class => "icon-github-circled", :target => "_blank" %>
    <%= link_to "", "http://dribbble.com/tonycamaiani", :class => "icon-dribbble", :target => "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->